body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #272822;
}

#timer {
	font-size: 80pt;
	font-weight: bold;
	color: #A5E22D;
	position: absolute;
	left: 50%;
	width: 950px;
	margin-left: -450px;
	top: 50%;
	height: 100px;
	margin-top: -50px;
}
